html, body, #root {
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans-serif;
  background: #fafafa;
}

.app {
}

.title {
  text-align: center;
  width: 100%;
  font-weight: normal;
}

.content {
  display: flex;
}
